.country_card{
 margin: 20px; 
 box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
 padding: 20px;
 height: 275px;
 width: 270px;
}
.country_card img{
  height: 80px;
  width: 110px;
  margin-left:75px;
}
.country_card h2{
  text-align: center;
}
.card_flex{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.country_card:hover{
  transform: scale(1.1);
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}
.header{
  text-align: center;
  margin-bottom: 20px;
}
.header input{
  width: 250px;
  height:20px;
  border-radius: 10px;
  border: 0;  
}
.country_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.statswrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.selectwrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.chart{
  width: 600px;
  margin-left: 300px;
}